.header__search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Đảm bảo không bị đè */
    z-index: 10; /* Ưu tiên hiển thị lên trên */
    margin-top: 20px;
}

.search-form {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    background-color: var(--white-color);
    border-radius: 5px;
    border: 1px solid var(--border-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-input {
    flex-grow: 1;
    padding: 10px;
    font-size: 1.6rem;
    border: none;
    border-radius: 5px 0 0 5px;
}

.search-btn {
    padding: 10px 20px;
    background-color: #187c9a;
    color: var(--white-color);
    font-size: 1.6rem;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #045770;
}
