<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv=""X-UA-Compatible>
        <meta name="viewport" content="width = device-width, initial-scale = 1.0">
        <title>Contact</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
        <link rel="stylesheet" href="../static/css/contact.css">
    </head>
<body>
    <header id="header">
            
        <div class="logo-container">
            <a href="mainpage.html">
                <img src="../static/img/loltransparent.png" class="logo" alt="Logo">
            </a>
            <h1 class="brand-name">LaptopOmg</h1>
        </div>
        <div id="searchBar">
            <input 
                type="text" 
                id="searchInput" 
                placeholder="Search for products..." 
                onkeypress="handleSearch(event)"
            />
            <button id="searchButton" onclick="redirectToSearch()">Search</button>
        </div>
        <div>
            <ul id="navbar">
                <li><a href="track.html">Order Tracking</a></li>
                <li><a href="cart.html"><i class="fas fa-shopping-cart"></i> Cart</a></li>
                <li><a href="compare.html">Compare</a></li>
                <li><a href="contact.html"><i class="fas fa-phone"></i> Hotline: Sale / Contact</a></li>
                <li id="user-info" style="display: none;">
                    <a href="profile.html" id="username"></a> | <a href="#" id="logout-link">Logout</a>
                </li>
                <li id="login-section">
                    <a href="login.html" id="login-link"><i class="fas fa-user"></i> Login</a>
                </li>
            </ul>
        </div>
    </header>
    
    <div class="container">
        <h1 class="contact-title">Liên hệ với chúng tôi</h1>
        <form class="contact-form">
            <div class="form-group">
                <label for="name">Họ và tên</label>
                <input type="text" id="name" name="name" class="form-input" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" class="form-input" required>
            </div>
            <div class="form-group">
                <label for="message">Thông điệp</label>
                <textarea id="message" name="message" class="form-textarea" required></textarea>
            </div>
            <button type="submit" class="btn btn-submit">Gửi thông điệp</button>
        </form>
    </div>
    <script src="../static/js/home.js"></script>
</body>
</html>
