<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
    <link rel="stylesheet" href="../static/css/product.css">
</head>
<body>
    <header id="header">
            
        <div class="logo-container">
            <a href="mainpage.html">
                <img src="../static/img/loltransparent.png" class="logo" alt="Logo">
            </a>
            <h1 class="brand-name">LaptopOmg</h1>
        </div>
        <div id="searchBar">
            <input 
                type="text" 
                id="searchInput" 
                placeholder="Search for products..." 
                onkeypress="handleSearch(event)"
            />
            <button id="searchButton" onclick="redirectToSearch()">Search</button>
        </div>
        <div>
            <ul id="navbar">
                <li><a href="track.html">Order Tracking</a></li>
                <li><a href="cart.html"><i class="fas fa-shopping-cart"></i> Cart</a></li>
                <li><a href="compare.html">Compare</a></li>
                <li><a href="contact.html"><i class="fas fa-phone"></i> Hotline: Sale / Contact</a></li>
                <li id="user-info" style="display: none;">
                    <a href="profile.html" id="username"></a> | <a href="#" id="logout-link">Logout</a>
                </li>
                <li id="login-section">
                    <a href="login.html" id="login-link"><i class="fas fa-user"></i> Login</a>
                </li>
            </ul>
        </div>
    </header>
            <div id="contentWrapper" class="content-wrapper">
                <div id="productDetails" class="product-details">
                <!-- Nội dung chi tiết sản phẩm sẽ được hiển thị tại đây -->
                <div class="product-info">
                    <!-- Thông tin sản phẩm -->
                </div>
            </div>
            <!-- <button id="addToCartButton" class="btn-add-to-cart">Add to Cart</button> -->

            <section id="feature" class="section-p1">
                <div class="fe-box">
                    <img src="../static/img/free-shipping.png" alt="" class="fe-img">
                    <h6>Miễn phí vận chuyển</h6>
                    <h6>Cho đơn hàng từ 5km</h6>
                </div>
                <div class="fe-box">
                    <img src="../static/img/return-box.png" alt="" class="fe-img">
                    <h6>Đảm bảo đúng hẹn</h6>
                    <h6>Hoàn lại tiền trong 30 ngày</h6>
                </div>
                <div class="fe-box">
                    <img src="../static/img/customer-service.png" alt="" class="fe-img">
                    <h6>Hỗ trợ trực tuyến</h6>
                    <h6>Chúng tôi hỗ trợ 24/24</h6>
                </div>
                <div class="fe-box">
                    <img src="../static/img/shopping-online.png" alt="" class="fe-img">
                    <h6>Khuyến mãi</h6>
                    <h6>Khuyến mãi nâng cấp Ram</h6>
                </div>
            </section>
        </div>
    <div id="attributes" class="attributes">
        </div>
    <script src="../static/js/product.js"></script>
    <script src="../static/js/home.js"></script>
</body>
</html>
