<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng ký - Laptop Store</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="../static/css/registry.css">
</head>
<body>
    <header id="header">
        <a href="mainpage.html"><img src="../static/img/loltransparent.png" class="logo" alt="Logo"></a>
        <h1 class="brand-name">LaptopOmg</h1>
    </header>

    <div class="container">
        <div class="auth-form">
            <div class="auth-form__container">
                <h3 class="auth-form__heading">Đăng ký tài khoản</h3>
                <form id="registrationForm" class="auth-form__form">
                    <div class="auth-form__group">
                        <input type="text" class="auth-form__input" id="username" name="username" placeholder="Họ tên" required>
                    </div>
                    <div class="auth-form__group">
                        <input type="email" class="auth-form__input" id="email" name="email" placeholder="Email" required>
                    </div>
                    <div class="auth-form__group">
                        <input type="password" class="auth-form__input" id="password" name="password" placeholder="Mật khẩu" required>
                    </div>
                    <div class="auth-form__controls">
                        <button class="btn auth-form__controls-back" onclick="window.location.href='mainpage.html'">Trở lại</button>
                        <button type="submit" class="btn btn--primary">Đăng ký</button>
                    </div>
                </form>
                <div class="auth-form__aside">
                    <a href="login.html" class="auth-form__help-link">Đã có tài khoản? Đăng nhập ngay!</a>
                </div>
            </div>
        </div>
    </div>

    <script src="../static/js/registry.js"></script>
</body>
</html>
